<%= form_with(model: mushroom, local: true) do |form| %>
  <% if mushroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mushroom.errors.count, "error") %> prohibited this mushroom from being saved:</h2>

      <ul>
        <% mushroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flavour_id %>
    <%= form.collection_select :flavour_id, @flavours, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :additional_comments %>
    <%= form.text_area :additional_comments %>
  </div>  

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
