<p id="notice"><%= notice %></p>

<h1>Mushrooms</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Seller</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mushrooms.each do |mushroom| %>
      <tr>
        <td><%= mushroom.flavour %></td>
        <td><%= mushroom.seller_id %></td>
        <td><%= link_to 'Show', mushroom %></td>
        <%#Only the seller can edit or delete the listing#%>
        <% if(current_user && current_user.profile && (current_user.profile.id == mushroom.seller.profile_id)) %>
          <td><%= link_to 'Edit', edit_mushroom_path(mushroom) %></td>
          <td><%= link_to 'Destroy', mushroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mushroom', new_mushroom_path %>
