<p id="notice"><%= notice %></p>

<p>
  <strong>Flavour:</strong>
  <%= @mushroom.flavour %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @mushroom.seller_id %>
</p>

<%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<%= link_to 'Back', mushrooms_path %>
