<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
<div class="row">
<% @mushroom.pictures.each do |picture|%>
<div class="col-md-6">
<%= image_tag picture, class: "d-block w-100"%>
</div>
<% end %>
</div>
</div>

<div class="col-md-4">
<p>
  <strong>Flavour:</strong>
  <%= @mushroom.flavour.name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @mushroom.seller_id %>
</p>
</div>

<%#Only the seller can edit or delete the listing#%>
<% if(current_user && current_user.profile && (current_user.profile.id == @mushroom.seller.profile_id)) %>
    <%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<% end %>
<% if(@mushroom.purchased == false) %>
  <p><%= link_to 'Mark as sold', buy_shroom_path(@mushroom), method: :patch, :class => "button btn btn-success"  %></p>
<% end %> 
<p><%= link_to 'Back', mushrooms_path %></p>

<p><button data-stripe="payment">Leave a tip<%= number_to_currency(5) %></button></p>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= ENV['STRIPE_PUBLIC_KEY'] %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
