<p id="notice"><%= notice %></p>

<p>
  <strong>Flavour:</strong>
  <%= @mushroom.flavour %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @mushroom.seller_id %>
</p>

<% if(current_user && current_user.profile && (current_user.profile.id == @mushroom.seller.profile_id)) %>
    <%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<% end %>
<%= link_to 'Back', mushrooms_path %>
