<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
<div class="row">
<% @mushroom.pictures.each do |picture|%>
<div class="col-md-6">
<%= image_tag picture, class: "d-block w-100"%>
</div>
<% end %>
</div>
</div>

<div class="col-md-4">
<p>
  <strong>Flavour:</strong>
  <%= @mushroom.flavour %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @mushroom.seller_id %>
</p>
</div>


<% if(current_user && current_user.profile && (current_user.profile.id == @mushroom.seller.profile_id)) %>
    <%= link_to 'Edit', edit_mushroom_path(@mushroom) %> |
<% end %>
<p><%= link_to 'Mark as sold', mushroom_path(@mushroom, mushroom: {purchased: true} ), method: :put %></p> 
<p><%= link_to 'Back', mushrooms_path %></p>

<p><button data-stripe="payment">Leave a tip<%= number_to_currency(5) %></button></p>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
