<nav class="navbar navbar-inverse"
<div class="container-fluid">
  <div class="navbar-header">
    <%= link_to "FunGuy", root_path, class: "navbar-brand" %>
  </div>
  <ul class = "nav navbar-nav">
    <li class="active">
      <%= link_to "Home", root_path %>
    </li>
    <li>  
      <%= link_to "Sell My Mush", new_mushroom_path %>
    </li>
  </ul>
  <ul>
    <%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
    <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
    </div>  
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in?%>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %><span class="glyphicon glyphicon-user"></span></li>
    <% else %>
      <li><%= link_to "Register To Buy", new_user_registration_path(user_type: "buyer", class:"glyphicon glyphicon-user")%><span></span></li>
      <li><%= link_to "LogIn", new_user_session_path(user_type: "returning")%><span class="glyphicon glyphicon-log-in"></span></li>
    <% end %>
  </ul>
</div>
</nav>
